.sidebar-container {
  position: fixed;
  top: 250px;
  right: 10px;
  height: 100%;
  width: 300px;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;

  &--header {
    background-color: #f0f0f0;
    border-radius: 10px;
  }
}
