.navbar-container {
  position: fixed;
  top: 65px;
  left: 0;
  right: 0;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 8px -4px rgba(0, 0, 0, 0.3);
  margin-bottom: 100px;
  background-color: white;
  font-weight: 700;

  &--1 {
    background-color: #df2020;
  }
  &--2 {
    background-color: blueviolet;
  }
  &--3 {
    background-color: yellow;
  }
  &--4 {
    background-color: green;
  }
  &--5 {
    background-color: rgb(49, 49, 238);
  }
  &--6 {
    background-color: orange;
  }
}

.navbar-container .title {
  position: absolute;

  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 24px;
  color: white;
  font-weight: bold;
  z-index: 200;
}

.navbar-container ul {
  display: flex;
  list-style: none;
  margin: 0;
  animation: scroll 25s infinite linear;
}

.navbar-container ul li {
  white-space: nowrap;
  padding: 10px 24px;
  color: black;
  position: relative;

  &--1 {
    background-color: #df2020;
  }
}

.navbar-container ul li::after {
  content: "";
  width: 1px;
  height: 100%;
  background: #b8b8b8;
  position: absolute;
  top: 0;
  right: 0;
}

@keyframes scroll {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-1083px);
  }
}
